.section {
    width: 100%;
    min-height: 100vh;
    background-color: $dark;
    color: $light;
    box-sizing: border-box;
    padding: 200px 100px 100px 100px;

    h1 {
        font-size: 6.0rem;
    }
    p {
        font-size: 3.0rem;
    }
    
    a {
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $light;
            cursor: pointer;
        }
    }
}