* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.5rem;
  font-family: "medium", sans-serif;
  letter-spacing: .25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.6rem;
}

@font-face {
  font-family: "medium";
  src: url("../fonts/homizio/medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/homizio/bold.ttf");
}

@font-face {
  font-family: "light";
  src: url("../fonts/homizio/light.ttf");
}

@font-face {
  font-family: "thin";
  src: url("../fonts/homizio/thin.ttf");
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ccb4d6;
}

nav .logo {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #422541;
}

nav .navigation {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigation a {
  color: #ccb4d6;
  text-decoration: none;
}

nav .navigation a:hover {
  color: #71267f;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #422541;
  color: #ccb4d6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 200px 100px 100px 100px;
}

.section h1 {
  font-size: 6.0rem;
}

.section p {
  font-size: 3.0rem;
}

.section a {
  color: #422541;
  text-decoration: none;
}

.section a:hover {
  color: #ccb4d6;
  cursor: pointer;
}

.sectionals {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.sectionals h1 {
  font-size: 5.0rem;
  font-family: "bold";
}

.sectionals h2 {
  font-size: 4.0rem;
  font-family: "thin";
}

#home {
  background-image: url("/images/carnigie.jpg");
}

#lesson {
  background-image: url("/images/symphony.jpg");
}

#schedule {
  background-image: url("/images/hall.jpg");
}

#instructor {
  background-position: left;
  background-image: url("/images/piano.jpg");
}

#signup {
  background-position: right;
  background-image: url("/images/tuba.jpg");
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about h1 {
  padding: 20px;
}

.menu {
  background-color: #71267f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .img {
  width: 30%;
}

.menu .img img {
  width: 100%;
}

.menu .text {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu .text p {
  margin: 20px;
}

.menu .text .buttonBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .text .buttonBox button {
  padding: 50px 100px;
  background-color: #71267f;
  border: 5px solid #ccb4d6;
  border-radius: 30px;
  color: #ccb4d6;
  font-size: 3.5rem;
  margin: 20px;
}

.menu .text .buttonBox button:hover {
  background-color: #422541;
  cursor: pointer;
}

.menu .footer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 30%;
}

.menu .footer p {
  margin: 20px 0;
}

.menu:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1400px) {
  .menu .text .buttonBox button {
    padding: 25px 50px;
    margin: 20px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .img {
    width: 100%;
  }
  .menu .text {
    margin-top: 50px;
    width: 100%;
  }
  .menu:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .menu .text .buttonBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .text .buttonBox button {
    padding: 25px 100px;
  }
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.options h1 {
  margin-top: 100px;
}

.signup {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

.signup form .sign {
  font-size: 3.0rem;
  background-color: transparent;
  border: 3px solid #ccb4d6;
  color: #ccb4d6;
  padding: 5px 10px;
  border-radius: 10px;
}

.signup form .sign::-webkit-input-placeholder {
  color: #ccb4d673;
}

.signup form .sign:-ms-input-placeholder {
  color: #ccb4d673;
}

.signup form .sign::-ms-input-placeholder {
  color: #ccb4d673;
}

.signup form .sign::placeholder {
  color: #ccb4d673;
}

.signup form .selection {
  font-size: 3.0rem;
  background-color: transparent;
  border: 3px solid #ccb4d6;
  color: #ccb4d6;
  padding: 5px 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.signup form .selection:hover {
  background-color: #71267f;
  cursor: pointer;
}

.signup form .selection select-items {
  background-color: #71267f;
}

.signup form .selection select-items:hover {
  cursor: pointer;
}

.signup button {
  font-size: 3.0rem;
  background-color: transparent;
  border: 3px solid #ccb4d6;
  color: #ccb4d6;
  padding: 5px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: auto;
}

.signup button:hover {
  background-color: #71267f;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */