* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: "mallanna";
    //background-color: $black;
    //color: $white;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1.6rem;
}

// @font-face {
//     font-family: "lato";
//     src: url('../font/Lato/Lato-Regular.ttf');
// }

// @font-face {
//     font-family: "mallanna";
//     src: url('../font/Mallanna/Mallanna-Regular.ttf');
// }

// @font-face {
//     font-family: "muli";
//     src: url('../font/Muli/Muli-Regular.ttf');
// }

// @font-face {
//     font-family: "patrick";
//     src: url('../font/Patrick_Hand_SC/PatrickHandSC-Regular.ttf');
// }

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 45%;
    }
}