//style the page displaying all the animals
.animals {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 50px;

    .animal {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px;

        img {
            width: 300px;
        }

        h1 {
            color: $blue;
            margin-top: 20px;
        }

        &:hover {
            // border: 5px solid $blue;
            background-color: $blue;
            cursor: pointer;

            h1 {
                color: $white;
            }
        }
    }
}