//style about section
.about {
margin-bottom: 100px;

  //title
  h1 {
    font-size: 50px;
    text-align: center;
    font-family: "logo";
    color: $orange;
  }

  //tagline
  h3 {
    font-size: 40px;
    text-align: center;
    font-family: "accent";
    color: $darkGrey;
  }

  //introduction paragraph
  p{
    font-size: 30px;
    margin: 5%;
  }

  //adjust the intro font for better mobile functionality
  @media screen and (max-width: 950px) {
    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }
}