.cartdown {
  position: relative;
  width: 100px;
  top: 50px;
  z-index: 100;

  &:hover .cartdownContent{
      visibility: visible;
      opacity: 1;
  }

  &:hover button{
    background-color: $grey;
    cursor: pointer;
  }

  button {
    padding: 12px 10px;
    background-color: $darkGrey;
    border: none;
    font-family: "nav";
    font-size: 20px;
    color: $liteOrange;

    &:hover {
      color: $liteGrey;
      cursor: pointer;
      background-color: $grey;
    }

    &:hover ~ .cartdownContent {
      transition: visibility 2s, opacity .5s;
      visibility: visible;
      opacity: 1;
    }
  }

  .cartdownContent {
    visibility: hidden;
    opacity: 0;
    margin-left: -38%;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: $grey;

    .clearCart {
      color: $liteOrange;
      font-family: "nav", sans-serif;
      font-size: 20px;
      align-self: center;
      margin: 0 auto;

      &:hover {
        color: $liteGrey;
        cursor: pointer;
      }
    }
  }
}