.productDetails {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $liteGrey;

  &:hover {
    cursor: auto;
  }

  .detailHeader {
    width: 100%;
    height: 10%;
    background-color: $orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $liteGrey;

    .productName {
      font-size: 35px;
      margin-left: 50px;
    }

    .closeProduct {
      font-size: 50px;
      font-weight: bold;
      margin-right: 20px;

      &:hover {
        color: $darkGrey;
        cursor: pointer;
      }

      &:active {
        color: $orange;
      }
    }
  }

  .productStuff {
    width: 100%;
    height: 100%;
    display: flex;

    .imageBox {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-size: 445px;
      background-image: url("../images/orangePattern.png");

      .imageHolder {
        width: 70%;
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
      }

      #one {
        background-image: url("../images/2.png");
      }
      #two {
        background-image: url("../images/1.png");
      }
      #three {
        background-image: url("../images/3.png");
      }
      #four {
        background-image: url("../images/7.png");
      }
      #five {
        background-image: url("../images/5.jpg");
      }
      #six {
        background-image: url("../images/6.jpg");
      }
      #seven {
        background-image: url("../images/12.png");
      }
      #eight {
        background-image: url("../images/10.png");
      }
      #nine {
        background-image: url("../images/11.png");
      }
      #ten {
        background-image: url("../images/17.png");
      }
      #eleven {
        background-image: url("../images/20.png");
      }
      #twelve {
        background-image: url("../images/18.png");
      }
      #thirteen {
        background-image: url("../images/15.jpg");
      }
      #fourteen {
        background-image: url("../images/16.jpg");
      }
      #fifteen {
        background-image: url("../images/14.jpg");
      }

      .moreImages {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .imageButton {
          width: 100px;
          height: 100px;
          margin-bottom: 100px;

          &:hover {
            opacity: .8;
            cursor: pointer;
          }
        }
      }
    }

    .infoHolder {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 50px;

      .productInfo {
        color: $darkGrey;
        font-size: 25px;
        display: flex;
        flex-direction: column;

        .label {
          font-family: "label", sans-serif;
        }

        img {
          width: 30%;
          margin-bottom: 16px;
        }

        button {
          height: 50px;
          background-color: $orange;
          border: none;
          font-weight: bold;
          color: $darkGrey;
          font-size: 20px;
          font-family: "accent", sans-serif;
          margin-bottom: 10px;

          &:hover {
            background-color: $liteOrange;
            cursor: pointer;
          }
        }

        .moreItems {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 0 0 50px 50px;

          .similarItem {
            &:hover {
              cursor: pointer;
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

//adjust the pattern bar in mobile modes
@media screen and (max-width: 1200px) {
  .productDetails {
    height: 75%;

    .detailHeader {
      .productName {
        font-size: 25px;
      }
      .closeProduct {
        font-size: 40px;
      }
    }

    .productStuff {
      .infoHolder {
        margin: 30px;
        .productInfo {
          p {
            font-size: 17px;
          }
          button {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .productDetails {
    height: 65%;

    .detailHeader {
      .productName {
        font-size: 25px;
      }
      .closeProduct {
        font-size: 50px;
      }
    }

    .productStuff {
      .imageBox {
        .imageHolder {
         height: 40%;
        }
        .moreImages {
          .imageButton {
            width: 65px;
            height: 65px;
          }
        }
      }

      .infoHolder {
          .productInfo {
            p {
              font-size: 13px;
            }

            button {
              font-size: 10px;
            }
          }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .productDetails {
    height: 100%;

    .detailHeader {
      .productName {
        font-size: 25px;
      }
      .closeProduct {
        font-size: 50px;
      }
    }

    .productStuff {
      flex-direction: column;

      .imageBox {
        width: 100%;
        height: 35%;
        flex-direction: row;

        .imageHolder{
          width: 250px;
          height: 250px;
        }

        .moreImages {
          flex-direction: column;
          align-items: center;
          width: 10%;

          .imageButton {
            margin: 20px;
            width: 50px;
            height: 50px;
          }
        }
      }

      .infoHolder {
        margin: 10px;
        width: 95%;

        .productInfo {
          button {
            height: 20px;
          }

          .similarItem {
            margin-top: -30px;
          }
        }
      }
    }
  }
}