//style each product as a section of the (various) products page(s)
.productSections {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  //style the bar of color containing the title of the product
  .colorBar {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 89;

    h1 {
      padding: 50px;
      font-size: 40px;
      font-family: "accent", sans-serif;
      color: white;
    }

    h2 {
      margin: -50px 50px;
      font-size: 40px;
      font-family: "accent", sans-serif;
      color: white;
    }
  }

  .tealBar {
    background-image: url("../images/tealProductBar.png");
  }

  .orangeBar {
    background-image: url("../images/orangeProductBar.png");
  }

  .greyBar {
    background-image: url("../images/greyProductBar.png");
  }

  //style the moving pattern in the product section
  .colorPattern {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 900px;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
  }

  .tealPattern {
    background-image: url("../images/tealPattern.png");
  }

  .orangePattern {
    background-image: url("../images/orangePattern.png");
  }

  .greyPattern {
    background-image: url("../images/greyPattern.png");
  }

  //style the image of the product section
  .img {
    z-index: 89;
    position: absolute;
    align-self: center;
    margin-top: 150px;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  //adjust the pattern bar in mobile modes
  @media screen and (max-width: 1200px) {
    height: 75%;
  }

  @media screen and (max-width: 850px) {
    height: 65%;
  }

  @media screen and (max-width: 680px) {
    height: 50%;

    .colorBar{
      height:70%;
    }
    .colorPattern {
      height: 30%;
    }
  }

}