//return to top button for products page
.return {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  img {
    width: 150px
  }

  //media queries to adjust return button on smaller screens
  @media screen and (max-width: 680px) {
    bottom: 150px;
    img {
      width: 100px;
    }
  }
}