* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: "main", sans-serif;
  background-color: $liteGrey;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}