* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

html, body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 2.5rem;
  font-family: "mallanna";
  background-color: #292929;
  color: #B6B6B6; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.6rem; }

@font-face {
  font-family: "lato";
  src: url("../font/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: "mallanna";
  src: url("../font/Mallanna/Mallanna-Regular.ttf"); }

@font-face {
  font-family: "muli";
  src: url("../font/Muli/Muli-Regular.ttf"); }

@font-face {
  font-family: "patrick";
  src: url("../font/Patrick_Hand_SC/PatrickHandSC-Regular.ttf"); }

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 600px) {
  html {
    font-size: 45%; } }

nav {
  width: 100vw;
  height: 60px;
  background-color: #3d3d3d;
  display: flex;
  padding: 10px 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 2.0rem; }
  nav .logo {
    font-family: "muli";
    color: #84DFE2; }
    nav .logo:hover {
      cursor: pointer;
      color: #A4ADE9; }
  nav .links {
    display: flex;
    align-items: center; }
    nav .links a {
      text-decoration: none;
      color: #B6B6B6; }
      nav .links a:hover {
        color: #A4ADE9;
        cursor: pointer; }
  nav #loggedOut {
    display: flex;
    justify-content: space-between; }
  nav #loggedIn {
    display: none;
    width: 80%;
    justify-content: space-evenly; }

.home {
  width: 100%; }
  .home .header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-image: url("../img/kitchen.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .home .header p {
      color: white;
      font-size: 5.0rem; }
    .home .header .sub {
      font-size: 3.5rem;
      font-style: italic;
      color: #84DFE2; }
  .home .intro {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column; }
    .home .intro h2 {
      color: #84DFE2; }
    .home .intro h3 {
      color: #A4ADE9;
      font-style: italic; }
    .home .intro button {
      border: none;
      background: #84DFE2;
      font-family: "muli";
      font-size: 2.0rem;
      padding: 20px;
      margin: 0 auto; }
      .home .intro button:hover {
        background-color: #A4ADE9;
        cursor: pointer; }

.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 110px 50px 50px;
  background-image: url("../img/kitchen.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1800px) {
    .login {
      flex-direction: column; } }

.account {
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  padding: 100px; }

.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-evenly; }
  .dashboard .overview {
    padding: 20px;
    width: 100%; }
    .dashboard .overview .box {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .dashboard .overview .box .calendarBox {
        display: flex;
        flex-direction: column;
        width: 25%;
        border: 1px #292929 solid; }
        .dashboard .overview .box .calendarBox .dateRow {
          color: #292929;
          width: 100%;
          background-color: #A4ADE9;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 20px; }
        .dashboard .overview .box .calendarBox .mealBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: #3d3d3d;
          padding: 50px;
          justify-content: space-evenly;
          align-items: center; }
          .dashboard .overview .box .calendarBox .mealBox .mealHolder {
            border: none;
            background: #292929;
            font-family: "muli";
            font-size: 2.0rem;
            padding: 10px 60px;
            margin: 20px auto; }
  .dashboard .dashButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px; }
    .dashboard .dashButtons button {
      border: none;
      background: #84DFE2;
      font-family: "muli";
      font-size: 2.0rem;
      padding: 20px 40px;
      margin: 0 auto; }
      .dashboard .dashButtons button:hover {
        background-color: #A4ADE9;
        cursor: pointer; }

.form {
  background-color: #3d3d3d;
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: 50px 0; }
  .form input {
    padding: 10px;
    background-color: #292929;
    border: none;
    color: #B6B6B6;
    width: 500px;
    margin: 5px 0;
    font-size: 2.0rem; }
  .form button {
    border: none;
    background: #84DFE2;
    font-family: "muli";
    padding: 10px;
    margin: 20px 0;
    font-size: 2.0rem; }
    .form button:hover {
      background-color: #A4ADE9;
      cursor: pointer; }
  .form #forgot {
    background-color: #292929;
    color: #B6B6B6; }
    .form #forgot:hover {
      background-color: #A4ADE9;
      color: #292929; }

.recipeForms input {
  width: 99%; }

.recipeForms .files {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .recipeForms .files #file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .recipeForms .files #inputFile {
    border: none;
    background: #84DFE2;
    color: #292929;
    font-family: "muli";
    padding: 10px;
    margin: 20px 0;
    font-size: 2.0rem;
    width: 20%;
    text-align: center; }
    .recipeForms .files #inputFile:hover {
      background-color: #A4ADE9;
      cursor: pointer; }
  .recipeForms .files #image {
    font-size: 2.0rem;
    width: 79%;
    height: 50px; }

.recipeForms h3 {
  margin-top: 10px; }

.recipeForms .moreFields {
  padding: 5px 15px;
  margin: 10px 0;
  font-size: 2.0rem;
  width: 100%; }

.recipeForms .ingredientBox {
  display: flex;
  flex-direction: column; }
  .recipeForms .ingredientBox input {
    width: 33%; }
  .recipeForms .ingredientBox select {
    padding: 10px;
    background-color: #292929;
    border: none;
    color: #B6B6B6;
    width: 32%;
    margin: 5px 0;
    font-size: 2.0rem; }

.recipeForms .instructions {
  display: flex;
  flex-direction: column; }
  .recipeForms .instructions input {
    width: 99%; }

.recipeForms .buttons {
  display: flex; }
  .recipeForms .buttons #addRecipe, .recipeForms .buttons #cancel, .recipeForms .buttons .updateRecipe, .recipeForms .buttons #addItem, .recipeForms .buttons .updateItem, .recipeForms .buttons #addMeal, .recipeForms .buttons .updateMeal {
    width: 49%;
    margin: 50px auto 0px; }

.recipeForms #cancel {
  background-color: #FFC68A; }
  .recipeForms #cancel:hover {
    background-color: #A4ADE9; }

.mealForm select {
  padding: 10px;
  background-color: #292929;
  border: none;
  color: #B6B6B6;
  margin: 5px 0;
  width: 100%;
  font-size: 2.0rem; }

.inventory {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .inventory button {
    border: none;
    background: #84DFE2;
    font-family: "muli";
    font-size: 2.0rem;
    padding: 10px 40px;
    margin: 0 auto; }
    .inventory button:hover {
      background-color: #A4ADE9;
      cursor: pointer; }
  .inventory .inventoryItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
    .inventory .inventoryItems .inventoryItem {
      width: 400px;
      padding: 20px;
      background-color: #3d3d3d;
      margin-bottom: 50px; }
      .inventory .inventoryItems .inventoryItem .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .inventory .inventoryItems .inventoryItem .buttons .deleteItem {
          background-color: #FFC68A; }
          .inventory .inventoryItems .inventoryItem .buttons .deleteItem:hover {
            background-color: #A4ADE9;
            cursor: pointer; }

.mealPlan {
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 60px;
  justify-content: space-evenly; }
  .mealPlan button {
    border: none;
    background: #84DFE2;
    font-family: "muli";
    font-size: 2.0rem;
    padding: 20px 40px;
    margin: 0 auto; }
    .mealPlan button:hover {
      background-color: #A4ADE9;
      cursor: pointer; }
  .mealPlan .calendar {
    display: flex;
    flex-direction: column; }
    .mealPlan .calendar .addMeal {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 100; }
    .mealPlan .calendar .calendarBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 20px; }
      .mealPlan .calendar .calendarBox .dateRow {
        color: #292929;
        width: 100%;
        background-color: #A4ADE9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px; }
      .mealPlan .calendar .calendarBox .mealBox {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #3d3d3d;
        padding: 50px;
        justify-content: space-evenly;
        align-items: center; }
        .mealPlan .calendar .calendarBox .mealBox .mealHolder {
          background-color: #292929; }
          .mealPlan .calendar .calendarBox .mealBox .mealHolder .slot {
            width: 100%;
            background-color: #84DFE2;
            color: #292929;
            text-align: center; }
          .mealPlan .calendar .calendarBox .mealBox .mealHolder .mealRecipeBox {
            width: 100%;
            text-align: center; }
          .mealPlan .calendar .calendarBox .mealBox .mealHolder .buttonBox {
            padding: 0 20px 20px; }
            .mealPlan .calendar .calendarBox .mealBox .mealHolder .buttonBox button {
              padding: 10px 30px; }
  .mealPlan .mealPicking {
    display: flex;
    background-color: #292929;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px; }
    .mealPlan .mealPicking button {
      padding: 10px 40px; }
    .mealPlan .mealPicking input {
      padding: 10px;
      background-color: #3d3d3d;
      border: none;
      color: #B6B6B6;
      width: 200px;
      margin: 5px 0;
      font-size: 2.0rem; }

.recipeData {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .recipeData .title {
    width: 30%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .recipeData .title img {
      width: 100%; }
  .recipeData .recipeRightSide {
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .recipeData .listRecipeData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .recipeData .ingredientsDisplay, .recipeData .instructionsDisplay {
    display: flex;
    flex-direction: column; }
  .recipeData .instructionsWrapper {
    display: flex; }
  .recipeData .recipeOptions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .recipeData .recipeOptions button {
      color: #292929; }
    .recipeData .recipeOptions .deleteRecipe {
      background-color: #FFC68A; }
      .recipeData .recipeOptions .deleteRecipe:hover {
        background-color: #A4ADE9; }
  @media only screen and (max-width: 1100px) {
    .recipeData {
      flex-direction: column; }
      .recipeData .title, .recipeData .recipeRightSide, .recipeData .listRecipeData, .recipeData .recipeOptions {
        width: 100%; }
      .recipeData .recipeRightSide, .recipeData .listRecipeData, .recipeData .ingredientsDisplay, .recipeData .instructionsDisplay, .recipeData .recipeOptions {
        min-height: unset; }
      .recipeData .listRecipeData {
        flex-direction: column;
        align-items: unset;
        margin-bottom: 100px;
        justify-content: center; }
      .recipeData .ingredientsDisplay {
        margin-bottom: 50px; } }

.recipes {
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-evenly; }
  .recipes button {
    border: none;
    background: #84DFE2;
    font-family: "muli";
    font-size: 2.0rem;
    padding: 20px 40px;
    margin: 0 auto; }
    .recipes button:hover {
      background-color: #A4ADE9;
      cursor: pointer; }
  .recipes .recipeBox {
    width: 100%;
    background-color: #3d3d3d;
    padding: 20px;
    color: #B6B6B6; }
    .recipes .recipeBox:hover {
      color: #292929;
      cursor: pointer; }

.shoppingList {
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 60px;
  justify-content: space-evenly; }
  .shoppingList button {
    border: none;
    background: #84DFE2;
    font-family: "muli";
    font-size: 2.0rem;
    padding: 20px 40px;
    margin: 0 auto; }
    .shoppingList button:hover {
      background-color: #A4ADE9;
      cursor: pointer; }
  .shoppingList .list {
    display: flex;
    flex-direction: column; }
    .shoppingList .list .addMeal {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 100; }
    .shoppingList .list .calendarBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 20px; }
      .shoppingList .list .calendarBox .dateRow {
        color: #292929;
        width: 100%;
        background-color: #A4ADE9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px; }
      .shoppingList .list .calendarBox .mealBox {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #3d3d3d;
        padding: 50px;
        justify-content: space-evenly;
        align-items: center; }
        .shoppingList .list .calendarBox .mealBox .mealHolder {
          background-color: #292929; }
          .shoppingList .list .calendarBox .mealBox .mealHolder .slot {
            width: 100%;
            background-color: #84DFE2;
            color: #292929;
            text-align: center; }
          .shoppingList .list .calendarBox .mealBox .mealHolder .mealRecipeBox {
            width: 100%;
            text-align: center; }
          .shoppingList .list .calendarBox .mealBox .mealHolder .buttonBox {
            padding: 0 20px 20px; }
            .shoppingList .list .calendarBox .mealBox .mealHolder .buttonBox button {
              padding: 10px 30px; }
  .shoppingList .listPicking {
    display: flex;
    background-color: #292929;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px; }
    .shoppingList .listPicking button {
      padding: 10px 40px; }
    .shoppingList .listPicking input {
      padding: 10px;
      background-color: #3d3d3d;
      border: none;
      color: #B6B6B6;
      width: 200px;
      margin: 5px 0;
      font-size: 2.0rem; }
