/* general styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    min-height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.0rem;
    font-family: "lgc";
    color: #ECF7F8;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1.6rem;
}

a  {
    text-decoration: none;
}

@font-face {
    font-family: "lgc";
    src: url('../fonts/Louis George Cafe.ttf');
}

@font-face {
    font-family: "lgcLite";
    src: url('../fonts/Louis\ George\ Cafe\ Light.ttf');
}

@font-face {
    font-family: "script";
    src: url('../fonts/MelodySouthern-Script.otf');
}

@font-face {
    font-family: "caps";
    src: url("../fonts/MelodySouthern.otf");
}

@font-face {
    font-family: "hand";
    src: url("../fonts/Autography.otf");
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 45%;
    }
}

/* Navigation*/
nav {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav a {
    color: #ECF7F8;
    margin: 5px 10px;
}

nav a:hover {
    cursor: pointer;
    color: #1A2131;
}

.signature {
    width: 40%;
}

.signature a {
    display: flex;
    justify-content: center;
}

.jh {
    width: 80%;
    padding: 20px;
}

.menu {
    width: 60%;
    height: 70%;
    display: flex;
    margin: 0px 25px 0px 50px;
    background-color: #6E7A94;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 700px){
    nav {
        height: 20vh;
        flex-direction: column;
        justify-content: center;
    }

    .jh, .menu {
        width: 100%;
        padding: 0;
    }

    .menu {
        flex-wrap: wrap;
        margin: 0 auto;
    }
}



/* homepage */

.home {
    width: 100%;
    min-height: 100vh;
    background-color: #1A2131;
    overflow: hidden;
}


#bgVideo {
    width: 100vw;
    opacity: 0.8;
    position: relative;
    top: -50px;
    z-index: 0;
}

@media only screen and (max-width: 1080px){
    .home {
        padding-top: 150px;
    }
}
  
#muteButton {
    width: 200px;
    font-size: 1.8rem;
    padding: 10px;
    background-color: #6E7A94;
    border: 2px solid #ECF7F8;
    border-radius: 5%;
    color: #ECF7F8;
    font-family: "caps";
    font-weight: bolder;
    position: fixed;
    margin: 10px;
    bottom: 0;
    right: 0;
    z-index: 50;
}

@media only screen and (max-width: 700px){
    #muteButton {
        width: 100px;
    }
}
  
#muteButton:hover { 
    background-color: #1A2131;
    cursor: pointer;
}

.intro {
    width: 100%;
    height: 100vh;
    background-color: #1A2131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeLogo {
    width: 150px;
    margin: 100px 0px 20px;
}

.intro h1 {
    font-style: italic;
    font-family: script;
}

.intro h2 {
    font-family: "caps";
    margin: 50px;
}

.socials {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socials a {
    color: #ECF7F8;
    display: flex;
    font-style: italic;
}

.socials a:hover {
    color: #6E7A94;
}

.actionButton {
    font-family: "lgcLite";
    font-weight: bolder;
    color: #ECF7F8;
    font-size: 2.0rem;
    background-color: #6E7A94;
    border: 2px solid #ECF7F8;
    border-radius: 5%;
    padding: 10px 30px;
    margin-bottom: 50px;
}

.actionButton:hover {
    cursor: pointer;
    background-color:#1A2131;
}




/* About Page */
.about {
    background-color: #4B506C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    height: 100vh;
    background-image: url("/img/yard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    font-size: 5.5rem;
    font-weight: bolder;
    position: absolute;
    bottom: 10%;
    left: 75%;
    margin: 20px;;
}

.content {
    min-height: 100vh;
    width: 100%;
    background-color: #1A2131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content a {
    color: #6E7A94;
    font-style: italic;
    font-weight: bolder;
}

.columnA, .columnB {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.columnB {
    background-color: #6E7A94;
    justify-content: flex-end;
}

.main{
    padding: 20px;
}

.profile {
    width: 45%;
}

.instruments {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columnB h2 {
    font-family: "hand";
    font-weight: bolder;
    font-variant: small-caps;
    margin-bottom: 30px;
}

.columnB li {
    margin: 10px;
}

.tuba {
    width: 55%;
}

@media only screen and (max-width: 1350px){
    .columnA, .columnB {
        flex-direction: column;
    }

    .main, .instruments {
        padding: 50px;
    }
}

@media only screen and (max-width: 800px){
    .instruments {
        width: 80%;
    }

    .columnB {
        padding: 0;
    }

    li {
        margin: 0;
    }
}

@media only screen and (max-width: 650px){
    .greeting {
        bottom: 0;
        left: 25%;
    }

}

@media only screen and (max-width: 450px) {  
    .heading {
        background-position: 20%;
    }
}


/* Audio Page */
.audio {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 100vh;
    background-image: url("/img/sousaphone.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.runner {
    height: 100vh;
}

.header {
    font-size: 5.5rem;
    font-weight: bolder;
    color: #1A2131;
    position: absolute;
    bottom: 50%;
    right: 10%;
}

.gallery {
    width: 100%;
    background-color: #6E7A94;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mp3 {
    height: 300px;
    width: 500px;
    background-color: #1A2131;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mp3 h5 {
    font-family: "caps";
}

.mp3 p {
    font-style: italic;
}

audio {
    margin-top: 20px;
    height: 40px;
}

@media only screen and (max-width: 400px) {
    .mp3 {
        padding: 20px;
        width: 250px;
        height: auto;
    }
}



/* Contact Page */
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/20J.jpg");
}

.container {
    width: 60%;
    margin-top: 75px;
    padding: 30px;
    background-color: #1A2131;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container img {
    width: 35%;
    padding-bottom: 50px;
}

.container h1{
    font-weight: bolder;
    font-family: "script";
    font-size: 4.0rem;
    text-align: center;
    padding-bottom: 10px;
}

.container h4 {
    padding-bottom: 15px;
    font-weight: normal;
}

.addressBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address {
    display: flex;
}

.address a {
    color: #ECF7F8;
    display: flex;
    font-style: italic;
}

.address a:hover {
    color: #6E7A94;
}

.address p {
    font-style: italic;
}

.address i {
    margin-right: 20px;
}

@media only screen and (max-width: 800px){
    .container {
        width: 90%;
    }

    .container img {
        width: 55%;
        padding-bottom: 20px;
    }
    .container h1{
        font-size: 3.0rem;
    }
}