//style the sections
section {
    width: 100%;
    min-height: 100%;
    background-color: $dark;
    color: $first;
    position: relative;
    z-index: 10;
    padding: 150px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:nth-child(even) {
        background-color: $light;
        color: $last;
    }

    @media only screen and (max-width: 900px) {
        padding: 75px 50px 50px;
    }
}

