footer {
    padding: 50px;
    background-color: $yellow;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .form {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
      }

      h1 {
        margin-left: 5%;
      }
    }

  .contact {
    width: 15%;
  }

  .web {
    width: 25%;
    .link {
      text-decoration: none;
      color: $red;
      &:hover {
        color: $logoBackground;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .web, .contact {
      width: 50%;
      text-align: center;
    }
  }
}