.officers {
  padding: 100px;
  display: flex;
  flex-direction: column;


  .groupPic{
    width: 75%;
    min-height: 700px;
    margin: 0px auto;
    background-image: url("../images/officers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


    img {
      width: 70%;
    }
  }

  .officerImages {
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    background-color: $navBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .officerRow {
      width: 100%;
      background-color: $logoBackground;
      display: flex;
      justify-content: space-between;
      &:nth-child(odd) {
        background-color: $socialBackground;
      }


      .officerBox {
        width: 250px;
        height: 350px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: space-evenly;

        img {
          height: 170px;
          padding-bottom: 50px;
        }

        p {
          font-size: 16px;
          line-height: 25px;
          padding: 0;
          text-align: center;
          font-weight: bold;
          &:nth-child(odd) {
          font-weight: normal;
        }
        }
        }
    }
  }
}


@media screen and (max-width: 1472px) {
  .officers {
    .officerImages {
      .officerRow {
        flex-direction: column;
        align-items: center;

        .officerBox {
          width: 250px;
          height: 450px;
          padding: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-items: space-evenly;

          img {
            height: 250px;
            padding-bottom: 50px;
          }

          p {
            font-size: 25px;
            line-height: 35px;
          }
        }
      }
    }
  }
}
