.societies {
  color: white;
  padding: 150px 100px 0;

  .aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
      padding-bottom: 25px;
    }

    a {
      color: $anchorWhite;
      text-decoration: none;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.seriously {
  padding-bottom: 200px;
}