/* "Class Reset" */
* {

  margin: 0;

  padding: 0;

}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;

}

h1, h2, h3, h4, h5, h6, p {

  line-height: 40px;
  margin-bottom: 16px;

}

/* embedded fonts */
@font-face {
  font-family: "social";
  src: url("../fonts/s.ttf");
}