$navBackground: rgba(0, 0, 0, .5);
$logoBackground: rgba(128, 11, 25, .5);
$socialBackground: rgba(207, 155, 22, .5);
$white: rgba(200, 200, 200, .5);

$grey: #292929;
$greyTwo: #6e6e6e;
$red: #800B19;
$yellow: #CF9B16;
$anchorWhite: #b6bab7;
