.account {
    width: 100%;
    min-height: 100vh;
    background-color: $black;
    padding: 150px 100px 100px;

    .accountCard {
        display: flex;
        flex-direction: column;
        background-color: $grey;
        border: solid $blue 1px;
    }

    .accountHeader {
        width: 100%;
        height: 35.0rem;
    }

    .background {
        width: 100%;
        height: 90%;
        background-image: url("./img/castIron.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .avatar {
        width: 18vw;
        height: 18vw;
        margin-top: 200px;
        background-image: url("./img/avatar.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .accountContent {
        padding: 50px;
    }

    @media only screen and (max-width: 1500px) {
        .accountHeader {
            height: 30.0 rem;
        }
    }
    
    @media only screen and (max-width: 1200px) {
        .accountHeader {
            height: 20.0 rem;
        }

    }
    
    @media only screen and (max-width: 900px) {
        .accountHeader {
            height: 15.0rem;
        }
    
        .avatar {
            margin-top: 50px;
        }

        .accountContent {
            padding: 20px;
        }
    }
    
    @media only screen and (max-width: 600px) {
        
        padding: 150px 50px 50px;
        
    
        .avatar {
            width: 15vw;
            height: 15vw;
        }
    }
    
    @media only screen and (max-width: 375px) {

        padding: 150px 20px 20px;

        .accountHeader {
            height: 5.0rem;
            margin-bottom: 25px;
        }
    
        .avatar {
            margin-top: 15px;
        }
        
    }
    
}


