.dashboard {
    width: 100%;
    background-color: $black;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    justify-content: space-evenly;

    .overview {
        width: 100%;
        margin-top: 20px;

        h3 {
            color: $blue;
        }
        
        .box {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        
                .calendarBox{
                    display: flex;
                    flex-direction: column;
                    width: 25%;
                    
                    .dateRow {
                        color: $white;
                        width: 100%;
                        background-color: $cardShadow;
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 10px;
                        border: 1px solid $white;

                        h4 {
                            margin: 0;
                            font-weight: normal;
                        }
                    }
        
                    .mealBox {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        background-color: $grey;
                        padding: 20px;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $white;
        
                        .mealHolder {
                            border: none;
                            background: $blue;
                            font-family: "muli";
                            font-size: 1.8rem;
                            padding: 5px;
                            margin: 5px auto;
                            width: 95%;
                            color: $black;
                            text-decoration: none;
                            text-transform: capitalize;
                            text-align: center;

                            &:hover{
                                background-color: $black;
                                color: $white;
                            }
                        }
                    }
        
                }
            
        }
    }
    
    .dashButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: center;

        button {
            border: none;
            background: $blue;
            font-family: "muli";
            font-size: 2.0rem;
            padding: 20px 40px;
            margin: 0 auto;
            
            &:hover {
                background-color: $purple;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 1000px){
        .overview {
            .box{
                .calendarBox{
                    width: 50%;
                }
            }
        }
        
    }

    @media only screen and (max-width: 600px){
        .overview {
            .box{
                flex-direction:  column;

                .calendarBox{
                    width: 100%;
                }
            }
        }
        
    }
}

.dash{
    width: 100%;
    background-image: linear-gradient(0deg, $dashShadow, $dashShadow), url("./img/veggies.jpg");
    background-size: cover;
    padding: 110px 20px 50px;
    background-attachment: fixed;
    
    font-size: 4.0rem;
    color: $light;
    text-align: center;
}


