.generator{
    width: 100vw;
    min-height: 100vh;
    background-color: $dashShadow;
    z-index: 100;
    position: fixed;
    padding-top: 50px;

    .close{
        font-size: 12rem;
        position: fixed;
        right: 50px;

        &:hover{
            cursor: pointer;
            color: $peach;
        }
    }

    h1 {
        margin: 50px;
    }

    .mealPicking {
        display: flex;
        background-color: $black;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 50px auto 20px;

        h2 {
            margin-right: 20px;
        }
        
        .input {
            padding: 10px;
            background-color: $grey;
            border: none;
            color: $white;
            width: 200px;
            margin: 0 20px;
            font-size: 2.0rem;
            height: 50px;
        }

        .dates{
            width: 100%;
            display: flex;
            background-color: $black;
            justify-content: center;
            align-items: center;
        }

        #mealFilter {
            padding: 15px 30px;
            order: 2;
            border: none;
            background: $light;
            font-family: "muli";
            font-size: 2.0rem;
            color: $black;
            text-align: center;
            
            &:hover {
                background-color: $white;
                cursor: pointer;
            }
        }   
    }
}