.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 110px 50px 50px;
    background-image: url('img/kitchen.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 1450px) {
        flex-direction: column;
    }

    @media only screen and (max-width: 600px) {
        padding: 110px 20px 20px;
    }
}