.mealPlan {
    width: 100%;
    min-height: 100vh;
    background-color: $black;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-evenly;

    .button {
        border: none;
        background: $light;
        font-family: "muli";
        font-size: 2.0rem;
        padding: 20px 40px;
        text-decoration: none;
        color: $black;
        // margin: 0 auto;
        
        &:hover {
            background-color: $white;
            cursor: pointer;
        }
    }

    .calendar{
        display: flex;
        flex-direction: column;
        

        .addMeal {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;
        }

        .calendarBox{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
            
            .dateRow {
                color: $black;
                width: 100%;
                background-color: $light;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;

                h3 {
                    margin: 0;
                }
            }

            .mealBox {
                display: flex;
                width: 100%;
                background-color: $grey;
                padding: 50px;
                padding-left: 10px;
                align-items: center;
                overflow-y: auto;
                white-space: nowrap;
                border: solid $light 1px;

                .mealCard{
                    margin: 20px;
                    background-color: $black;
                }

                .mealHolder {
                    background-color: $black;

                    .slot {
                        width: 100%;
                        background-color: $blue;
                        color: $black;
                        text-align: center;
                    }

                    .mealRecipeBox{
                        width: 100%;
                        text-align: center;
                    } 

                    .buttonBox {
                        padding: 0 20px 20px;  
                        
                        button {
                            padding: 10px 30px;
                        }
                    }
                }

                .unplanned{
                    width: 300px;
                    background-color: $peach;
                    text-align: center;
                    margin: auto;
                    font-family: "muli";
                    font-size: 2.0rem;
                    padding: 20px 40px;
                    text-decoration: none;
                    color: $black;

                    &:hover{
                        background-color: $purple;
                    }
                }
            }

        }
    }

    .mealPicking {
        display: flex;
        background-color: $black;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 50px auto 20px;

        h2 {
            margin-right: 20px;
        }
        
        .input {
            padding: 10px;
            background-color: $grey;
            border: none;
            color: $white;
            width: 200px;
            margin: 0 20px;
            font-size: 2.0rem;
            height: 50px;
        }

        .dates{
            display: flex;
            background-color: $black;
            justify-content: space-between;
            align-items: center;
        }

        #mealFilter {
            padding: 15px 30px;
            order: 2;
            border: none;
            background: $light;
            font-family: "muli";
            font-size: 2.0rem;
            color: $black;
            text-align: center;
            
            &:hover {
                background-color: $white;
                cursor: pointer;
            }
        }   
    }

    @media only screen and (max-width: 1200px) {
        padding: 0px;
    }

}