nav {
    width: 100vw;
    height: 60px;
    background-color: $cardShadow;
    display: flex;
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 2.0rem;
    z-index: 10;

    .link {
        text-decoration: none;
        color: $white;
        margin: 0 1.0rem;

        &:hover {
            color: $black;
            cursor: pointer;
        }
    }

    .logo {
        width: 20%;
        font-family: "muli";
        color: $blue;
        display: flex;
        align-items: center;

        &:hover{
            cursor: pointer;
            color: $purple;
        }
    }


    .logoImg{
        background-image: url("./img/logo.jpg");
        background-size: cover;
        width: 5.0rem;
        height: 5.0rem;
        margin-right: 10px;
    }

    .links {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .linkBox {
        width: 70%;
    }

    @media only screen and (max-width: 1400px) {
        .linkBox {
            width: 80%;
        }

        .logo p {
            display: none;
        }
    }

    @media only screen and (max-width: 1200px) {
        flex-wrap: wrap;

        .logo {
            display: none;
        }

        .linkBox {
            width: 100%;
        }
    }

    @media only screen and (max-width: 700px) {
        padding: 10px;
    }

    @media only screen and (max-width: 550px) {
        height: 70px;
        .linkBox {
            flex-wrap: wrap;
        }
    }


}

