.recipe {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 50px;
    background-color: $grey;

    .recipeData{
        width: 90%;
        background-color: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid $blue;
    }

    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 0;
        color: $black;

        img {
            width: 100%;
        }

        h1, p {
            background-color: $blue;
            width: 100%;
            text-align: center;
        }

        h1 {
            background-color: $black;
            color: $blue;
        }
    }

    .listRecipeData {
        width: 100%;
        min-height: 100vh;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
    }

    .ingredientsDisplay, .instructionsDisplay {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .instructionsWrapper{
        display: flex;
    }

    .recipeOptions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;

        .button {
            color: $black;
            background-color: $blue;
            padding: 10px 20px;
            margin: 20px;
            width: 90%;
            text-align: center;

            &:hover {
                background-color: $purple;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        padding: 150px 10px 10px;

        .ingredientsDisplay, .instructionsDisplay {
            padding: 0px;
        }
    }
    
}