.recipes {
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    background-color: $black;
   
    .recipesHeading {
        width: 100%;
        padding: 50px 10px;
        display: flex;
    }

    .recipesList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



    // button {
    //     border: none;
    //     background: $blue;
    //     font-family: "muli";
    //     font-size: 2.0rem;
    //     padding: 20px 40px;
    //     margin: 0 auto;
        
    //     &:hover {
    //         background-color: $purple;
    //         cursor: pointer;
    //     }
    // }

    // .recipeBox {
    //     width: 100%;
    //     background-color: $grey;
    //     padding: 20px;
    //     color: $white;
        
    //     &:hover {
    //         color: $black;
    //         cursor: pointer;
    //     }
    // }
}