//colors
$light: #E1DFFD;
$dark: #6558F5;
$green: #83DEC3;
$purple: #A4ADE9;
$blue: #84dfe2;
$peach: #FFC68A;
$white: #B6B6B6;
$grey: #3d3d3d;
$black: #292929;
$cardShadow:rgba(92, 91, 91, 1);
$barShadow:rgba(92, 91, 91, 0.5);
$thumbShadow: rgba(225, 223, 253, 0.5);
$dashShadow:rgba(51, 50, 50, 0.4);