@charset "utf-8";
/* CSS Document */
/* CSS Document */
@font-face{
	font-family: "main";
	src: url(../font/Anjasmoro.ttf) format("opentype");
	font-weight:400;
}

@media only screen and (max-device-width: 480px){
	.content { width: 100%;}
	.row h2 { font-size: 60%;}
	.row12 h2{ font-size: 60%;}
	.row2 h2{ font-size: 60%;}
	.row1 h2{ font-size: 60%;}
	.foot3 h2{ font-size: 60%;}
	.row h1 { font-size: 70%;}
	.row12 h1{ font-size: 70%;}
	.row2 h1{ font-size: 70%;}
	.row1 h1{ font-size: 70%;}
	.foot3 h1{ font-size: 70%;}
	.row4 h2 { font-size: 70%;}
	.row4 h1 { font-size: 80%;}
	.indexL h2 { font-size: 200%;}
}

html, body {
    width: 100%;
}

body {
	background: #004340;
	font-family: "main";
}

.logo {
	margin-top: 5px;
	margin-left: 5px;
	height: 50px;
}

.link { text-decoration: none;
		color: inherit;
}

a:hover {
	opacity: .5;
}

.mainNavBar {
	height: 60px;
	background-color: #3CBBB6;
	display: flex;
	margin-bottom: 0px;}
	
.mainNavFont {
	text-decoration: none;
	color: #002C2A;
	font-weight: bolder;
	margin-top: 20px;
	margin-left: 40px;
	line-height: 20px;
    font-size: 20px;

}

.heading {
	color: #002c2A;
	font-size: 30px;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 10px
}

header {
	margin-top: 0px;
	margin-bottom: -3px;
}

header img {
	width: 1000px;
	margin-top: 0px;
}

.content {
	margin: 0 auto;
	width: 1000px;
	background-color: #0B7470;
}

.instructions {
    margin: 0 auto;
    color: #3CBBB6;
}

.game {
    display: flex;
    flex-direction: column;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.buttons button {
    color: #002C2A;   
    font-size: 30px;   
    background-color: #5CE3D3;
    width: 100px;
    height: 60px;
    border-color: #3CBBB6;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: "main";
}

button {
    color: #002C2A;   
    font-size: 50px;   
    background-color: #5CE3D3;
    width: 200px;
    height: 100px;
    border-color: #3CBBB6;
    border-radius: 4px;
    margin-right: 20px;
    font-family: "main";
}

button:hover {
    color: #5CE3D3;
    background-color:#004340;
   border-color: #5CE3D3; 
}

input {
    width: 750px;
    height: 100px;
    font-family: "main";
    font-size: 50px;
    margin: 0 auto;
    background-color: #5CE3D3;
    color: #002C2A;
    border-color: #3CBBB6;
    border-radius: 4px;
    padding: 20px;
}

input:hover {
  color: #5CE3D3;
    background-color:#004340;
   border-color: #5CE3D3;  
}

::placeholder {
  color: #0B7470;  
}

.user {
    display: flex;
    flex-direction: row;
}

#infDisplay {
   color: #5CE3D3; 
    font-size: 100px;
    margin: 0 auto;
    
}

#subjDisplay, #tenseDisplay {
color: #5CE3D3;   
font-size: 30px;
    margin: 10px auto;
}

#output {
color: #002C2A;   
font-size: 30px;
    margin: 10px auto;
}

.mesa {
    margin-top: 10px;
    margin-left: 220px;
    
}
th, td {
    text-align: center;
    width: 100px;
}

.footer {
	height: 50px;
	background-color: #3CBBB6;
	width: 1000px;
	margin: 50px auto 0px;
}
	
.footerT {
	margin-left: 370px;
	color: #002C2A;
	font-weight: bolder;
	font-size: 20px;
	line-height: 50px;
}