* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

html, body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 2.0rem;
  font-family: "gillSans"; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.6rem; }

@font-face {
  font-family: "caveatRegular";
  src: url("../font/caveat.regular.ttf"); }

@font-face {
  font-family: "caveatBold";
  src: url("../font/caveat.bold.ttf"); }

@font-face {
  font-family: "gillSans";
  src: url("../font/gillsans.otf"); }

@font-face {
  font-family: "gillSansBold";
  src: url("../font/gillsans.bold.ttf"); }

@font-face {
  font-family: "gillSansItalic";
  src: url("../font/gillsans.italic.ttf"); }

@font-face {
  font-family: "gillSansLight";
  src: url("../font/gillsans.light.ttf"); }

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 600px) {
  html {
    font-size: 45%; } }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 38px; }
  .navigation .logo #The_Jungle_Cook {
    font-family: "caveatRegular";
    font-size: 2.5rem; }
  .navigation .links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .navigation .links a {
      font-family: "caveatRegular";
      font-size: 2.5rem;
      text-decoration: none;
      color: #393939; }
      .navigation .links a:hover {
        border-bottom: 2px solid black; }
    .navigation .links button {
      font-family: "caveatRegular";
      font-size: 2.5rem;
      background-color: #ffd972;
      border: none;
      padding: 10px 52px;
      border-radius: 26px;
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
      .navigation .links button:hover {
        cursor: pointer; }
  @media only screen and (max-width: 900px) {
    .navigation .links {
      width: 60%; } }
  @media only screen and (max-width: 800px) {
    .navigation {
      flex-direction: column; }
      .navigation .links {
        width: 100%; }
        .navigation .links button {
          padding: 10px 32px; } }

.content {
  width: 100%;
  padding: 50px; }

.homeBackground {
  background-image: linear-gradient(rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.loginBackground {
  background-color: #ffd972; }

.recipeBackground {
  background-image: linear-gradient(rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url("../images/recipe-hero.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center; }

.otherBackround {
  background-color: white; }

.home {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home .bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home .bubbles .main {
      background-color: #ffd972;
      width: 357px;
      height: 357px;
      border-radius: 357px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10;
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
      .home .bubbles .main h1 {
        font-size: 2.4rem;
        font-family: "caveatRegular"; }
      .home .bubbles .main p {
        padding-top: 30px;
        width: 156px;
        height: 75px;
        font-size: 1.3rem;
        font-family: "gillSans";
        text-align: center; }
    .home .bubbles .second {
      background-color: #fcbcb8;
      width: 167px;
      height: 167px;
      font-size: 1.0rem;
      border-radius: 167px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -120px;
      left: -75px;
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
      .home .bubbles .second p {
        width: 90px;
        height: 20px;
        margin-left: 15px;
        font-family: "gillSansItalic"; }
  @media only screen and (max-width: 900px) {
    .home .bubbles .main {
      width: 280px;
      height: 280px;
      border-radius: 280px; }
    .home .bubbles .second {
      width: 80px;
      height: 80px;
      border-radius: 80px; }
      .home .bubbles .second p {
        width: 60px; } }

.loginRegister {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .loginRegister .login, .loginRegister .register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px; }
    .loginRegister .login p, .loginRegister .register p {
      font-family: "gillSansLight";
      font-size: 1.2rem;
      font-style: italic; }
    .loginRegister .login h1, .loginRegister .register h1 {
      font-size: 3.0rem;
      font-family: "gillSansBold";
      margin-bottom: 10px; }
    .loginRegister .login input, .loginRegister .register input {
      border: none;
      background-color: #ffd972;
      border-bottom: 3px solid black;
      margin: 50px 0 0; }
      .loginRegister .login input::placeholder, .loginRegister .register input::placeholder {
        color: black;
        font-family: "gillSansLight"; }
    .loginRegister .login button, .loginRegister .register button {
      font-family: "caveatRegular";
      font-size: 2.5rem;
      background-color: #ffd972;
      border: none;
      padding: 10px 52px;
      margin-top: 56px;
      border-radius: 26px;
      box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
      .loginRegister .login button:hover, .loginRegister .register button:hover {
        cursor: pointer; }
  .loginRegister .register {
    width: 250px; }
  @media only screen and (max-width: 900px) {
    .loginRegister {
      flex-direction: column; }
      .loginRegister .login {
        margin-bottom: 100px; } }

.createRecipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 100px; }
  .createRecipe h2 {
    font-family: "caveatBold";
    font-style: italic;
    font-size: 2.5rem; }
  .createRecipe h3 {
    margin-top: 100px;
    font-family: "gillSansBold";
    font-size: 2.0rem; }
  .createRecipe input {
    border: none;
    background-color: white;
    border-bottom: 3px solid black;
    margin: 70px 0 0;
    font-size: 2.0rem; }
    .createRecipe input::placeholder {
      color: black;
      font-family: "gillSansLight"; }
  .createRecipe #ingredientBox, .createRecipe #instructionBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .createRecipe button, .createRecipe #fileLabel {
    font-family: "caveatRegular";
    font-size: 2.5rem;
    background-color: #efa7a7;
    border: none;
    padding: 10px 52px;
    margin: auto;
    margin-top: 110px;
    border-radius: 26px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
    width: 422px; }
    .createRecipe button:hover, .createRecipe #fileLabel:hover {
      cursor: pointer; }
  .createRecipe .moreFields {
    color: white;
    width: 38px;
    height: 38px;
    padding: 0;
    font-family: "gillSansLight";
    font-size: 2.0rem;
    position: relative;
    margin: 0 0 0 auto;
    top: -50px; }
  .createRecipe #fileBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .createRecipe #fileLabel {
    font-size: 1.7rem;
    margin: 0 0 -33px auto;
    position: relative;
    font-family: "caveatRegular";
    top: -50px;
    padding: 6px 15px;
    width: 100px; }
    .createRecipe #fileLabel input {
      height: .1px;
      width: .1px;
      position: absolute;
      z-index: -1;
      overflow: hidden;
      opacity: 0; }
  @media only screen and (max-width: 900px) {
    .createRecipe {
      padding: 0; }
      .createRecipe button {
        width: 222px; } }

.viewRecipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .viewRecipe .intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .viewRecipe .intro .imagery {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .viewRecipe .intro .imagery .title {
        transform: rotate(270deg);
        font-family: "gillSansBold";
        font-size: 3.5rem;
        font-style: bolder;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        left: -50px;
        top: 385px;
        z-index: 100;
        height: 50px;
        width: 400px; }
      .viewRecipe .intro .imagery img {
        width: 460px;
        height: 420px;
        position: absolute;
        left: 180px; }
    .viewRecipe .intro .information {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-right: 45px;
      justify-content: flex-start; }
      .viewRecipe .intro .information h3 {
        font-size: 3.0rem;
        font-family: "gillSansBold";
        font-weight: bolder; }
      .viewRecipe .intro .information h4 {
        font-size: 2.5rem;
        font-family: "gillSansBold";
        font-weight: bolder; }
      .viewRecipe .intro .information p {
        font-size: 2.5rem;
        font-family: "caveatRegular"; }
  .viewRecipe .ingredientsList {
    margin-top: 250px; }
  .viewRecipe .ingredientsList, .viewRecipe .instructionsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding-bottom: 50px; }
    .viewRecipe .ingredientsList h3, .viewRecipe .instructionsList h3 {
      font-size: 2.5rem;
      font-family: "gillSansBold";
      font-weight: bolder; }
    .viewRecipe .ingredientsList p, .viewRecipe .instructionsList p {
      font-size: 2.0rem;
      font-family: "caveatRegular"; }
    .viewRecipe .ingredientsList ul, .viewRecipe .instructionsList ul {
      list-style: none; }
    .viewRecipe .ingredientsList ol, .viewRecipe .instructionsList ol {
      margin-left: 20px; }
  .viewRecipe button {
    align-self: flex-start;
    font-family: "caveatRegular";
    font-size: 2.0rem;
    background-color: #ffd972;
    border: none;
    padding: 9px 15px;
    margin: 20px 100px 20px;
    border-radius: 26px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
    .viewRecipe button:hover {
      cursor: pointer; }
  @media only screen and (max-width: 1500px) {
    .viewRecipe .intro .information {
      width: 55%; } }
  @media only screen and (max-width: 1400px) {
    .viewRecipe .intro .information {
      width: 50%; } }
  @media only screen and (max-width: 1350px) {
    .viewRecipe .intro {
      flex-direction: column;
      margin-bottom: 0px; }
      .viewRecipe .intro .imagery, .viewRecipe .intro .information {
        width: 100%; }
      .viewRecipe .intro .imagery {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px; }
        .viewRecipe .intro .imagery .title {
          transform: rotate(0deg);
          width: auto;
          position: static; }
        .viewRecipe .intro .imagery img {
          position: static; }
    .viewRecipe .ingredientsList {
      margin-top: 0px; }
    .viewRecipe .ingredientsList, .viewRecipe .instructionsList, .viewRecipe .intro .information {
      width: 60%; }
    .viewRecipe .intro .information {
      margin: 0px auto; }
    .viewRecipe .ingredientsList, .viewRecipe .instructionsList, .viewRecipe button {
      margin: 0px auto -20px; } }

.recipesList {
  width: 100%;
  margin: 0 0px 30px; }
  .recipesList h1 {
    font-family: "caveatBold";
    font-size: 2.5rem; }
  .recipesList .yourRecipiesListed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .recipesList .yourRecipiesListed .yourRecipeBox {
      width: 40%;
      display: flex;
      align-items: center; }
      .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg {
        display: flex;
        flex-direction: column;
        margin-top: 10px; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg button {
          align-self: flex-start;
          font-family: "caveatRegular";
          font-size: 1.9rem;
          background-color: #ffd972;
          border: none;
          padding: 9px 15px;
          width: 127px;
          height: 42px;
          border-radius: 26px;
          box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16); }
          .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg button:hover {
            cursor: pointer; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg .viewYourRecipe {
          position: relative;
          top: 160px;
          margin: auto;
          opacity: 0; }
          .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg .viewYourRecipe:hover {
            opacity: 1; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg img {
          width: 300px;
          height: 263px;
          border-radius: 24px; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeImg .buttonHolder {
          width: 300px;
          margin-top: 15px;
          display: flex;
          justify-content: space-around; }
      .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo {
        width: 224px;
        height: 263px;
        border-radius: 24px;
        background-color: white;
        padding: 40px 35px; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo h1 {
          font-family: "gillSansBold";
          font-size: 1.5rem;
          border-bottom: 2px solid black;
          text-align: center; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo p {
          font-size: .9rem;
          font-family: "gillSans"; }
        .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView {
          display: flex;
          flex-direction: column; }
          .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView .time, .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView .serving {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            margin-top: 10px; }
            .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView .time svg, .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView .serving svg {
              width: 23px;
              height: 23px;
              margin-right: 17px; }
            .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView .time p, .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo .yourRecipeQuickView .serving p {
              font-size: 1.0rem;
              font-family: "gillSans";
              margin-top: 5px; }
  @media only screen and (max-width: 1400px) {
    .recipesList .yourRecipiesListed {
      flex-direction: column; }
      .recipesList .yourRecipiesListed .yourRecipeBox {
        justify-content: center;
        width: 100%; } }
  @media only screen and (max-width: 650px) {
    .recipesList .yourRecipiesListed .yourRecipeBox {
      flex-direction: column-reverse; }
      .recipesList .yourRecipiesListed .yourRecipeBox .yourRecipeInfo {
        width: 300px;
        margin: 55px 0 -55px; } }

.footing {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 25px 40px;
  align-content: center;
  justify-content: space-between; }
  .footing .copyright {
    width: 15%;
    font-family: "gillSansItalic";
    font-size: 1.5rem;
    color: #393939; }
  .footing .link {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem; }
    .footing .link a {
      font-family: "gillSansItalic";
      text-decoration: none;
      color: #393939; }
  .footing .social {
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .footing .social svg {
      width: 19px;
      height: 19px;
      color: #393939; }
  @media only screen and (max-width: 900px) {
    .footing {
      flex-direction: column;
      align-items: center; }
      .footing .copyright {
        width: 100%; }
      .footing .link {
        width: 100%; }
      .footing .social {
        margin-top: 20px;
        width: 30%; } }
