//style the home section of the page
.home {
    width: 100%;
    height: 100%;
    background-color: $dark !important;
    position: relative;
    z-index: 1;
 

    //background image/header of the homepage
    .homeBg {
        width: 100%;
        height: 100%;
        background-image: url("../images/header.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $first;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      
        h1 {
            font-size: 7.0rem;
            padding: 10px;
            border-radius: 20px;
            background-color: $aqua;
        }

        img {
            width: 40%;
            position: fixed;
            box-shadow: 10px 20px $aqua;
        }
    }

    @media only screen and (max-width: 1000px) {
    
        .homeBg {

            img {
                width: 70%;
            }
        }
    }
}

