//style the more section
.more {
    img {
        margin-bottom: 50px;
    }

    @media only screen and (max-width: 700px) {
        img {
            margin-bottom: -25px;
            width: 50%;
        }
    }
}